.login{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginTitle{
    font-size: 50px;
    text-align: center;
}
.loginform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}
.loginform>label{
    margin: 10px 0;
}
.loginform>input{
    padding: 10px;
    background-color: white;
    border:none;
    border-bottom: 1px solid gray;
    height: 20px;
}
.loginButton{
    border: none;
    color: white;
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: teal;
    border-radius: 10px;
}
.loginButton:disabled{
    cursor: not-allowed;
    background-color: rgb(172, 81, 81) ;
}
.loginRegisterButton{
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    position: absolute;
    top: 60px;
    cursor: pointer;
    background-color: teal;
    right: 20px;
}